body {
   
    height: 100vh;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

.parent {
    border: 5px green solid;
    height: 70vh;
    display: flex;

    justify-content: center;
    align-items:center;
}


.enfant1 {
    
    flex-shrink: 1;
    flex-basis: 200px;
    height: 150;
    background-color: lightgreen;
}

.enfant2 {
    
    flex-shrink: 2;
    flex-besis: 200px;
    height: 150;
    background-color: rgb(128, 10, 29);
}

.enfant3 {
    
    flex-shrink: 3;
    flex-basis: 200px;
    height: 150;
    background-color: rgb(40, 99, 187);
}

.enfant4 {
    width: 200px;
    height: 50px;
    background-color: rgb(56, 15, 59);
}

.enfant5 {
    width: 200px;
    height: 50px;
    background-color: rgb(39, 24, 24);
}
.carte{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30%;
    padding:50px;
}
.card-body{
    font-size: 1.2rem;
    align-items: left;
   
}